<div class="search-form">
    <form>
        <div class="mb-3">
            <label for="search-input" class="form-label">Nhập Từ Khóa</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Enter Email">
        </div>

        <button type="submit" class="btn btn-primary">Tìm Kiếm</button>
    </form>
</div>