<div class="mt-4">
    <h3>Đăng khóa học</h3>
    <form method="POST" action="/courses/store">
        <div class="mb-3">
            <label for="name" class="form-label">Tên Khóa Học</label>
            <input type="text" name="name" class="form-control" id="name">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Mô tả</label>
            <input type="text" name="description" class="form-control" id="description">
        </div>
        <div class="mb-3">
            <label for="videoID" class="form-label">Video</label>
            <input type="text" name="videoID" class="form-control" id="videoID">
        </div>
        <div class="mb-3">
            <label for="level" class="form-label">Mức Độ</label>
            <input type="text" name="level" class="form-control" id="level">
        </div>
        <button type="submit" class="btn btn-primary">Thêm Khóa Học</button>
    </form>
</div>